.filterBar{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 15px 0 15px;
}
.leftFl{
    display: flex;
    justify-content: space-evenly;
}
.leftFl div{
    margin: 20px;
}
.rightFl{
    display: flex;
    justify-content: space-evenly;
}
.rightFl div{
    margin: 20px;
}
input{
    width: 40%;
    height: 60px;
    font-weight: bolder;
    padding: 8px 8px 8px 23px;
    border-radius: 30px;
    background-color: rgb(251, 252, 255);
    border:  solid 1px rgb(191, 191, 191);
}
.disSearch{
    margin-top: 34px; 
    padding: 0 35px 0 35px;
}
.discover{
    display: block;
    width: 100%;
}




/* ///HOME */
.tradingoptions{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-top: 60px;
}
.trade{
    /* width: 13%; */
    margin: 30px;
    /* height: 130px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left; 
    /* color: rgb(255, 111, 0); */
}
.qualities{
    width:60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin-top: 120px;
    gap: 60px;
    /* width: 100%; */
    margin-bottom:110px;
}
.qualities > div {
    width: 100%;
    text-align: left;
    margin: 20px;
    /* padding-right: 50px; */
    color: rgb(49, 49, 49);
}
.qualities h3{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 20px 0;
}
.qo{
    display: flex;
    justify-content: center;
}
.Highlights >div{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.Highlights >div >div{
    width: 17%;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 110px;
}
.Highlights h2{
    font-size: 35px;
    font-weight: 500;
    padding: 50px 0 20px 0;
}
.Highlights >div  h2{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0 20px 0;
    padding: 0;
}
.Highlights a {
    color: rgb(255, 111, 0);
}
.Highlights img:hover{
    transform: scale(1.01) ;
}
.Learnmore{
    padding-top: 20px;
    color: rgb(16, 8, 6);
}
.webinar img{
    width: 100%;
}
.conclusion{
    margin-top: 310px;
    padding-bottom: 310px;
    text-align: center;
}
.conclusion h2{
    font-size: 33px;
    font-weight: 700;
    margin: 30px;
}
.conclusion button{
    margin-top: 60px;
    font-size: 20px;
    width: 200px;
    height: 66px;
    font-weight: 600;
    color: white;
    background-color: rgb(255, 106, 0);
}
.library{
    background-color: rgb(60, 64, 74);
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}
.library >div {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.library h1{
padding-bottom: 130px;
font-size: 35px;
font-weight: 600;
}
.library >div>div{
    display: flex;
   text-align: left;
    width: 30%;
    gap: 20px;
}
.library img{
    width: 230px;
}
.library a {
    color: rgb(255, 85, 0);
    text-decoration: underline;
    font-weight: 700;
}
.library h2{
    font-weight: 700;
    font-size: 20px;
}
.info{
    width: 40%;
}
.footer img{
    width: 100%;
}
.casehead{
    padding: 120px 0 120px 0;
}
.casehead h1{
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 30px;
}
.casehead p{
    font-size: 22px;
    color: rgb(52, 52, 52);
}
.cases{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 40px;
    padding: 120px;
}
.cases>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px 10px 30px 20px;
}
.cases >div:hover{
    cursor: pointer;
    background-color: orangered;
    color: white;
}
.cases >div div{
    padding: 30px;
}
.cases img{
    width: 100%;
}
.cases h1{
    font-size: 22px;
    font-weight: 600;
    
}
.casehead2{
    background-color: rgb(33, 33, 63);
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 30px;
}
.casehead2 h1{
    margin-top: 120px;
    font-size: 52px;
    font-weight: 700;
}
.casehead2 img{
    width: 35%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.casehead2 div{
    width: 40%;
}
.caseinfo{
    text-align: left;
    display: flex;
    justify-content: center;
    padding: 120px 0 120px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.caseinfo div{
    width: 37%;
}
.caseinfo h2{
    font-size: 63px;
    font-weight: 500;
    padding: 10px 0 10px 0;
}
.caseinfo p{
    font-size: 22px;
    margin-bottom: 70px;
}







/* /Connect */

.connect{
    padding: 120px 0 120px 0;
}
.connect h1{
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 90px;
}
.connect >div{
    display: flex;
    justify-content: space-around;
}
.bookmeet{
    width: 40%;
    min-height: 700px;
    padding: 50px 10px 50px 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 1px solid black;
    border-radius: 30px;
    max-height: 780px;

}
.bookmeet >div{
    display: flex;
    justify-content: center;
}
.bookmeet h2{
    font-size: 32px;
    font-weight: 400;
    color: white;
    background-color: rgb(64, 114, 206);
    border-radius: 30px; 
    padding: 10px 20px 10px 20px;
    width: 100%;
    margin-bottom: 60px;
}
.booknow:hover{
    background-color:rgb(64, 114, 206) ;
    color: white;
}
.yourmeets{
    width: 27%;
    min-height: 700px;
    padding: 50px 0px 50px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 30px;
    background-color: rgb(69, 124, 228);
}
.yourmeets > div{
    display: flex;
    justify-content: center;  
}
.yourmeets h2{
    font-size: 26px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 30px; 
    padding: 10px 20px 10px 20px;
    margin-bottom: 60px;
    width: 70%;
    text-align: center;
}
.yourmeets h4{
    font-style: italic;
    text-decoration: underline;
    color: orangered;
    font-weight: bolder;
}
.yourmeets h4:hover{
    cursor: pointer;
}
.meetlist{
    background-color: rgb(106, 149, 229);
    min-height: 500px;
    border-radius: 10px; 
    width: 100%;
    padding: 20px;
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}
.meetlist div{
    border-radius: 10px; 
    background-color: white;
    text-align: left;
    padding: 20px;
    margin-bottom: 10px;
    width: 410px;
}
.meetlist div:hover{
    background-color:  rgb(53, 117, 235);
    color: white;
}
.meetlist h3{
    font-size: 26px;
    font-weight: 600;
}
.meethead{
    display: flex;
    justify-content: center;
}
.noti{
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}